.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
  align: center;
}

#content {
    margin-left: auto; 
    margin-right: auto; 
    width: 1000px;
}

#surface {
    position: relative; 
    height: 125px; 
    padding: 16px; 
    background-color: gray; 
    border-radius: 16px;
}

#slots {
    margin-top: 5px;
    align-self:center;
    align-content:center;
    align-items:center;
}

#feedback {
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
}

.slot {
    position: relative;
    width: 50px; 
    height: 24px; 
    float: left; 
    margin-left: .5px; 
    margin-right: .5px; 
    margin-bottom: 1px;
    margin-top: 15px;
    border-radius: 4px; 
    border: 1px solid black;
}

.lefthalf {
    width: 25px;
    height: 24px;
    float: left;
}

.righthalf {
    width: 25px;
    height: 24px;
    float: right;
}

#arrow {
    position: absolute;
}

#cards {
    position: relative; 
    top: 40px; 
    left: 459px;
    height: 26px;
}

.card {
    position: absolute;
    left: 0px;
    width: 50px;
    height: 24px;
    border-radius: 4px; 
    border: 1px solid black; 
    text-align: center; 
    cursor: move;
    font-size: 22px;
    font-weight: normal;
    z-index: 1;
}

.center { 
    text-align: center;
    list-style-position:inside;
}

#buttons {
    float: center;
}

#startButton{
    font-size:16px;
}
#submitButton{
    font-size:16px;
}

.block-text {
  width: 600px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}
